name: build

permissions:
  contents: read
  pull-requests: write

on: [push, pull_request, workflow_dispatch]

env:
  NAME: UnicodeCharsetDetector
  CONFIG: Release
  BIN_POSTFIX: .Bin
  RETENTION_DAYS: 1

defaults:
  run:
    working-directory: src

jobs:
  build:
    runs-on: windows-latest

    steps:

    # Set up

    - name: Setup .NET
      uses: actions/setup-dotnet@v5.0.0
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x

    # Check out

    - name: Check out ${{env.NAME}}
      uses: actions/checkout@v6.0.0

    # Build

    - name: Build ${{env.NAME}} ${{env.CONFIG}}
      run: dotnet build --configuration ${{env.CONFIG}}

    # Test

    - name: Test ${{env.NAME}} ${{env.CONFIG}}
      run: dotnet test --no-build --configuration ${{env.CONFIG}} --verbosity normal

    # Create test report

    - name: Create ${{env.NAME}} ${{env.CONFIG}} test report
      uses: dorny/test-reporter@v2.2.0
      if: ${{success() || failure()}}
      with:
        name: tests
        path: '**/*.trx'
        reporter: dotnet-trx

    # Upload artifacts

    - name: Publish ${{env.NAME}} ${{env.CONFIG}}
      uses: actions/upload-artifact@v6.0.0
      with:
        name: ${{env.NAME}}${{env.BIN_POSTFIX}}
        path: bin/${{env.CONFIG}}/${{env.NAME}}.*.*nupkg
        retention-days: ${{env.RETENTION_DAYS}}
